<!-- Available Cards Section -->
<div *ngIf="!isUserCards" class="available-cards-section">
    <ul>
        @for (card of cards; track card.id) {
        <li class="card-item available-card-item">
            <button (click)="onSelectCard(card)">
                <img 
                    [src]="'http://localhost:3000/' + card.image.src" 
                    [alt]="card.image.alt" 
                    class="available-card-image" 
                />
            </button>
        </li>
        }
    </ul>
</div>

<!-- User Cards Section -->
<div *ngIf="isUserCards" class="user-cards-section">
    <ul>
        @for (card of cards; track card.id) {
        <li class="card-item user-card-item">
            <button (click)="onSelectCard(card)">
                <img 
                    [src]="'http://localhost:3000/' + card.image.src" 
                    [alt]="card.image.alt" 
                    class="user-card-image" 
                />
            </button>
        </li>
        }
    </ul>
</div>
