<div [ngClass]="isUserCards ? 'user-cards-section card-section' : 'available-cards-section card-section'">
    <ul>
        <li *ngFor="let card of cards; trackBy: trackById" class="card-item">
            <button (click)="isUserCards ? onRemoveCard(card) : onSelectCard(card)">
                <img 
                    [src]="'http://localhost:3000/' + card.image.src" 
                    [alt]="card.image.alt" 
                    [class.available-card-image]="!isUserCards"
                    [class.user-card-image]="isUserCards"
                />
            </button>
        </li>
    </ul>
</div>
